.slayt1{
    
   width: 20%;
    height: 20%;
    transition: all 0.3s ease-out;
    font-size: 10px;
    border: none;
    box-sizing: border-box;
    float: center;
    top: 100px;
    
    
}
.slayt2{
  width: 20%;
    height: 20%;
    transition: all 0.3s ease-out;
    font-size: 10px;
    border: none;
    box-sizing: border-box;
    float: center;
    top: 100px;
    
}
.slayt3{
  width: 20%;
    height: 20%;
    transition: all 0.3s ease-out;
    font-size: 10px;
    border: none;
    box-sizing: border-box;
    float: center;
    top: 100px;
}
